.env
.serverless/
.git/
node_modules/
npm-debug.log
yarn-error.log

storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

tests/
resources/css/
resources/js/
resources/views/
docker-compose.yml
phpunit.xml
README.md
